<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
<!--    <link rel="stylesheet" href="">-->
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div id="login-form" class="form">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" id="login-username" placeholder="Username">
                <input type="password" name="password" id="login-password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="pass">Forgot Password?</div>
        <div class="signup_link">
         Not a registered user yet? <a href="#">Sign up</a>
        </div>
    </div>
</body>
</html>